<div class="container">
  <div class="row py-2">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary" (click)="showModal();">Add Student</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-2" *ngFor="let student of students">
      <div class="card">
        <div class="card-header">
          {{student.name}}
        </div>
        <div class="card-body p-0">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> {{student.grade}}</li>
            <li class="list-group-item"> {{student.gender}}</li>
            <li class="list-group-item"> {{student.phone}}</li>
            <li class="list-group-item"> {{student.email}}</li>
          </ul>
        </div>
        <div class="card-footer text-muted">
          <button type="button" class="btn btn-primary" (click)="editModal(student);">Edit</button>
          <button type="button" class="btn btn-secondary float-right" (click)="confirmOpen(student.id);">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" [ngClass]="{'d-block show' : openModal}" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{isEdit?'Edit':'Add'}} Student</h5>
          <button type="button" class="close" (click)="closeModal();" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-2">
          <div class="form-group col-md-12 m-0">
            <label class="m-0" for="name">Name</label>
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name">
            <div *ngIf="isFormSubmit && f.name.errors" class="text-danger">
              <div *ngIf="f.name.errors.required"> Name is required</div>
            </div>
          </div>
          <div class="form-group col-md-12 m-0">
            <label class="m-0" for="grade">Grade</label>
            <select id="grade" formControlName="grade" class="form-control">
              <option value="Select">Select Grade</option>
              <option value="1th">1th</option>
              <option value="2nd">2nd</option>
              <option value="3rd">3rd</option>
              <option value="4th">4th</option>
              <option value="5th">5th</option>
              <option value="6th">6th</option>
              <option value="7th">7th</option>
              <option value="8th">8th</option>
              <option value="9th">9th</option>
              <option value="10th">10th</option>
              <option value="11th">11th</option>
              <option value="12th">12th</option>
            </select>
            <div *ngIf="isFormSubmit && f.grade.errors" class="text-danger">
              <div *ngIf="f.grade.errors.required"> Grade is required</div>
            </div>
          </div>
          <div class="form-group col-md-12 m-0">
            <label class="m-0" for="Gender">Gender</label>
            <select id="Gender" formControlName="gender" class="form-control">
              <option value="Select">Select Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <div *ngIf="isFormSubmit && f.gender.errors" class="text-danger">
              <div *ngIf="f.gender.errors.required"> Gender is required</div>
            </div>
          </div>
          <div class="form-group col-md-12 m-0">
            <label class="m-0" for="Phone">Phone</label>
            <input id="Phone" formControlName="phone" type="number" class="form-control" placeholder="Phone">
            <div *ngIf="isFormSubmit && f.phone.errors" class="text-danger">
              <div *ngIf="f.phone.errors.required"> Phone is required</div>
            </div>
          </div>
          <div class="form-group col-md-12 m-0">
            <label class="m-0" for="Email">Email</label>
            <input type="email" formControlName="email" id="Email" class="form-control" placeholder="Email">
            <div *ngIf="isFormSubmit && f.email.errors" class="text-danger">
              <div *ngIf="f.email.errors.required"> Email is required</div>
              <div *ngIf="f.email.errors.email"> Valid Email is required</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal();">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" [ngClass]="{'d-block show' : confirmModal}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Are you sure you want to delete?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)=confirmClose()>Cancel</button>
        <button type="button" class="btn btn-primary" (click)=delete(deletetId)>Submit</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="openModal || confirmModal" class="modal-backdrop fade show"></div>